
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>博客</title>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <link href="/public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/public/js/jquery-1.12.4.min.js"></script>
    <script src="/public/js/index.js"></script>
</head>

<body>

<header>
    <div class="backimg"><img src="/public/images/IMG_0293.JPG"></div>
    <div class="logo"><span></span><img src="/public/images/00002637.png" style="border-radius: 50%"></div>

</header>

<nav>
    <div class="menu">
        {% if category=='' %}
        <a href="/" class="focus">首页</a>
        {% else %}
        <a href="/">首页</a>
        {% endif %}
        {% for cate in categories%}
            {% if category==cate.id %}
                <a href="/?category={{cate.id}}" class="focus">{{cate.name}}</a>
            {% else %}
                <a href="/?category={{cate.id}}">{{cate.name}}</a>
            {% endif %}

        {% endfor %}
    </div>
</nav>



<main class="clear">
    <div class="mainLeft">
        {% block content %}
        {% endblock %}
    </div>

    <div class="mainRight">
        {% if userInfo._id %}
        <div class="rightBox" id="userInfo">
            <div class="title"><span>用户信息</span></div>
            <p><span class="colDark">{{userInfo.username}}</span></p>
            {% if userInfo.isAdmin %}
            <p><span class="colDanger">Hello，admin!</span> <a href="/admin" class="enterManagePage">进入管理界面</a></p>
            {% else %}
            <p><span class="colDanger">Hello，welcome to my blog!</span></p>
            {% endif %}


            <p><span class="colDark"><button id="logout">退出</button></span></p>
        </div>
        {% else %}
        <div class="rightBox" id="loginBox" >
            <div class="title"><span>登录</span></div>
            <div class="line"><span class="colDark">用户名：</span><input name="username" type="text" /><em></em></div>
            <div class="line"><span class="colDark">密码：</span><input name="password" type="password" /><em></em></div>
            <div class="line"><span class="colDark"></span><button>登 录</button></div>
            <p class="textRight">还没注册？<a href="javascript:;" class="colMint">马上注册</a>　</p>
            <p class="colWarning textCenter"></p>
        </div>

        <div class="rightBox" id="registerBox" style="display: none;">
            <div class="title"><span>注册</span></div>
            <div class="line"><span class="colDark">用户名：</span><input name="username" type="text" /></div>
            <div class="line"><span class="colDark">密码：</span><input name="password" type="password" /></div>
            <div class="line"><span class="colDark">确认：</span><input name="repassword" type="password" /></div>
            <div class="line"><span class="colDark"></span><button>注 册</button></div>
            <p class="textRight">已有账号？<a href="javascript:;" class="colMint">马上登录</a>　</p>
            <p class="colWarning textCenter"></p>
        </div>
        {% endif %}

        <div class="rightBox">
            <div class="title"><span>小牛学习</span></div>
            <p><a href="javascript:;" target="_blank" class="colDanger">小牛课堂</a></p>
            <p><a href="javascript:;" target="_blank" class="colDanger">小牛笔记</a></p>
        </div>
    </div>


</main>

<div class="copyright textCenter">Copyright © xiaoniu.com 版权所有 | 京ICP备0000000000号</div>
</body>
</html>